.main {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

/* --------------------------------------------------------------------- SEZIONE 0 (hero) --------------------------------------------------------------------- */
.main .hero {
    height: calc(100vh - 74px);
    width: 100vw;
    background: url(../img/scritta_neon.jpeg) center center/cover no-repeat;
    /* background-attachment: fixed; */
}

/* --------------------------------------------------------------------- SEZIONE 1 (menu) --------------------------------------------------------------------- */
.main .menu {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 30vh;
    gap: 4rem;
    background-image: url(https://images.unsplash.com/photo-1599992836360-f88e279f8350?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: fixed;
}

.main .menu .title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    color: var(--text-special-color);
}

.main .menu .card_conatainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.main .menu .card {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    flex-direction: row;
    width: 85vw;
    height: 30vh;
    background-color: var(--bg-color);
    border-radius: 2px;
}

.main .menu .card img {
    width: 60%;
    object-fit: cover;
}

.main .menu .card h2 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    padding: 10px;
    background: url(../img/pizza.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
}


/* --------------------------------------------------------------------- SEZIONE 2 (about) --------------------------------------------------------------------- */
.main .about {
    min-height: 100vh;
    padding: 8rem 4vw;
}

.main .about .title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
    color: var(--text-special-color);
}

.main .about .proprietari {
    height: 94vw;
    width: 94vw;
    object-fit: cover;
    position: relative;
    left: -1vw;
}

.main .about .intro {
    font-size: calc(15px + 1vw);
}



/* --------------------------------------------------------------------- SEZIONE 3 (cosa abbiamo in più degli altri) --------------------------------------------------------------------- */
.main .specialita {
    height: 100vh;
    background-image: url(../img/Materie_prime/bg_specialita.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    text-shadow: 0 0 5px var(--text-color);
}

.main .specialita h3 {
    text-align: center;
    font-weight: 300;
    position: absolute;
    top: 20px;
    font-size: small;
}

.main .specialita h2 {
    color: var(--text-special-color);
    text-align: center;
    font-size: calc(35px + 2vw);
    padding: 0 10%;
}

.main .specialita p {
    padding: 0 10%;
    font-size: calc(15px + 1vw);
}

.main .specialita .credits * {
    text-decoration: none;
    color: #eee;
    position: absolute;
    bottom: 1px;
    left: 1px;
    cursor: default;
    text-shadow: none;
    font-weight: 300;
    font-size: small;
}




/* ----------------- DESKTOP GUI ----------------- */
@media (min-width: 1281px) {
    .main {
        padding-bottom: var(--footer-height);
    }

    .main .hero {
        height: calc(100vh - 83.99px);
        width: 100vw;
        background-position: center 60%;
    }


    /* --------------------------------------------------------------------- SEZIONE 1 (menu) --------------------------------------------------------------------- */
    .main .menu .title {
        font-size: 5rem;
    }

    .main .menu .card_conatainer {
        flex-direction: row;
    }

    .main .menu .card {
        width: 45vw;
    }

    .main .menu .card h2 {
        font-size: x-large;
        background-size: 150%;
        background-position: 30% 10%;
    }


    /* --------------------------------------------------------------------- SEZIONE 2 (about) --------------------------------------------------------------------- */
    .main .about .proprietari {
        min-height: 10rem;
        min-width: 10rem;
        height: calc(10vh + 30vw);
        width: calc(10vh + 30vw);
        left: 0;
        float: left;
        margin-right: calc(20px + 3vw);
        margin-bottom: 20px;
    }

    .main .about .intro {
        font-size: calc(10px + 1.5vw);
        padding: 0 10%;
    }

    /* --------------------------------------------------------------------- SEZIONE 3 (cosa abbiamo in più degli altri) --------------------------------------------------------------------- */
    .main .specialita h3 {
        font-size: x-large;
    }

}