* {
    --card-height: 29rem;
    --card-width: 19rem;
}

.main {
    display: flex;
    flex-direction: column;
    background-image: url(../img/pizza.svg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 200vw;
}

.main .card_container {
    max-width: calc((var(--card-width) + 2rem) * 3);
    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.main .title {
    margin-top: 90px;
    padding: 2rem;
    text-align: center;
    font-size: calc(3vw + 20px);
}

.main .card {
    background-color: var(--text-color);
    color: var(--bg-color);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: .5rem;
    overflow: hidden;
    cursor: default;
    cursor: pointer;
}

.main .card img {
    height: var(--card-width);
    width: var(--card-width);
    object-fit: cover;
}

.main .display .pizza_card .name,
.main .card .name {
    text-align: center;
    padding-top: 1.5rem;
    font-weight: 700;
    font-size: x-large;
}

.main .display .pizza_card .description,
.main .display .pizza_card .ingredienti,
.main .card .ingredienti {
    text-align: left;
    padding: .5rem 1rem 0 1rem;
    font-weight: 300;
    font-size: small;
}

.main .display .pizza_card .prezzo,
.main .card .prezzo {
    text-align: center;
    padding-top: 1rem;
    font-weight: 400;
    font-size: x-large;
}

.main .card:hover {
    box-shadow: 0 0 20px 6px var(--text-color);
    -webkit-box-shadow: 0 0 20px 6px var(--text-color);
    -moz-box-shadow: 0 0 20px 6px var(--text-color);
}




.main .display {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000000;
    background-color: #0000007c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.main .display .pizza_card {
    width: 330px;
    height: 600px;
    border-radius: .5rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 60vw;
    top: -10px;
    animation: displayCard .4s ease-in-out 1 both alternate;
}


@keyframes displayCard {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-90vw);
    }

    80% {
        transform: translateX(-40vw);
    }

    100% {
        transform: translateX(-60vw);
    }
}

.main .display .pizza_card img {
    width: 330px;
    height: 230px;
    object-fit: cover;
}

.main .display .pizza_card .prezzo,
.main .display .pizza_card .name {
    text-align: left;
    padding-left: 1rem;
}

.main .display .pizza_card .container_details {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.main .display .pizza_card .container_details::-webkit-scrollbar {
    width: 0;
}

.main .display .pizza_card .box_details {
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    max-height: 20px;
}


/* dettagli */

.main .display .pizza_card .glutenfree {
    border: solid 1px #977f3d;
    color: #977f3d;
    filter: drop-shadow(0 0 .8rem #977f3d);
}

.main .display .pizza_card .bianca {
    border: solid 1px #cfcfcf;
    color: #cfcfcf;
    filter: drop-shadow(0 0 .8rem #cfcfcf);
}

.main .display .pizza_card .vegan {
    border: solid 1px #488b34;
    color: #488b34;
    filter: drop-shadow(0 0 .8rem #488b34);
}

.main .display .pizza_card .farina_integrale {
    border: solid 1px #6b5133;
    color: #6b5133;
    filter: drop-shadow(0 0 .8rem #6b5133);
}

.main .display .pizza_card .senza_lievito {
    border: solid 1px #86745e;
    color: #86745e;
    filter: drop-shadow(0 0 .8rem #86745e);
}

.main .display .pizza_card .ingr_locali {
    border: solid 1px #437247;
    color: #437247;
    filter: drop-shadow(0 0 .8rem #437247);
}

.main .display .pizza_card .crosta_sottile {
    border: solid 1px #412d14;
    color: #412d14;
    filter: drop-shadow(0 0 .8rem #412d14);
}

/* dettagli */


.main .display .pizza_card .description {
    background-color: #333;
    padding: 5px;
    margin: 1rem;
    height: 100px;
    overflow-y: scroll;
}

.main .display .pizza_card .description::-webkit-scrollbar {
    width: 0;
}

.main .close {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 5rem;
    padding: 4px;
    cursor: pointer;
}

.main .close::before,
.main .close::after {
    content: "";
    height: 7px;
    width: 30px;
    background-color: white;
    rotate: 45deg;
    position: absolute;
    top: 15px;
}

.main .close::after {
    rotate: -45deg;
}

/* sezione pizze bianche */

#pizze_bianche {
    text-align: center;
    font-weight: 800;
    font-size: calc(2vw + 20px);
    padding-top: 8rem;
    padding-bottom: 1rem;
}




/* DESKTOP GUI */

@media (min-width: 1281px) {

    .main .display .pizza_card {
        width: 500px;
        height: 800px;
    }

    .main .display .pizza_card img {
        width: 500px;
        height: 350px;
    }
}